body {
    background-color: #0D192C;
    max-height: 100vh;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo img{
    width: 75%;
    margin: 2vh;
    border-radius: 10px;
}


.main-card {
    margin: auto;
    margin-top: 5vh;
    width: 350px;
    height: 596px;
    background-color: #15263F;
    box-shadow: 10px;
    border-radius: 10px;
}


